* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav,
.list {
  display: inline-block;
  font-size: 0;
}
.nav {
  margin: 5vh 0 2vh 25vh;
}
.nav2,
.nav3,
.nav4 {
  display: none;
  position: absolute;
}
.link {
  display: inline-block;
  width: 200px;
  padding: 10px 0 10px 0;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.list {
  /*border: 1px solid black;*/
  background-color: blueviolet;
}
.list-cat:hover > .nav2,
.list-cat2:hover > .nav3,
.list-cat3:hover > .nav4 {
  display: block;
}
.list-cat {
  position: relative;
}
.list:hover {
  background-color: purple;
}
.nav3 {
  left: 200px;
  top: 40px;
}
.nav4 {
  left: 200px;
  top: 0px;
}
