* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav,
.list {
  display: inline-block;
  font-size: 0;
}
.nav {
  margin: 5vh 0 2vh 25vh;
}
.nav2
{
  display: none;
  position: absolute;
}
.link {
  display: inline-block;
  width: 200px;
  padding: 10px 0 10px 0;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid black;
}
.list {
    background-color: blueviolet;
}
.list-cat:hover > .nav2
 {
  display: block;
}
.list-cat {
  position: relative;
}
.list:hover {
  background-color: purple;
}
.position{
  left:200px;
  top: 0px;
 }